.form {
  max-width: 22rem;
  margin: auto;
  max-width: 688px;
  height: 1000px;
  margin: auto;
  margin-top: 4rem;
  padding-top: 56px;
  padding-bottom: 75px;
  padding-left: 104px;
  padding-right: 104px;
  position: relative;
  background-color: #fefefe;

  button[type="submit"] {
    margin-top: 1rem;
    display: block;
    width: 100%;
    outline: none;
    border: none;
  }
}

.header {
  font-size: 1.5rem;
}

.desc {
  color: #666666;
  font-size: 0.75rem;
  margin-bottom: 1rem;
}
